<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="AmazingTodoContext"
         connectionString="Server=094cd3f7-5cb4-4148-8ed3-a51901829cf7.sqlserver.sequelizer.com;Database=db094cd3f75cb441488ed3a51901829cf7;User ID=tpimtnulmzfuybel;Password=FtqThTv42AZJzxPuCdamfCtSv4CdHmqLjKL6MAAbpzJsNmagn2s4d7vd8FwnpstP;" />
  </connectionStrings>
</configuration>